{% extends 'awwwards_app/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid create-bg">
    <div class="row">
        <div class="col-md-6 mx-auto my-5">
            <div class="header mx-md-5 py-3 text-center">
                <p class="h1 fs-3 fw-bold" style="display: inline;">Standard Submission</p>                
            </div>
            <div class="create-form border p-5">
                
                <form method="post" class="create mx-md-5" enctype="multipart/form-data">
                    {% csrf_token %} 
                    {{form|crispy}}
                    
                    <br>
                    <input type="submit" value="SUBMIT PROJECT" class="btn btn-info my-4 text-white p-3" style="width: 100%;">
                </form>
            </div>        
        </div>
    </div>
</div>
{% endblock %}