{% extends 'awwwards_app/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="header mx-md-5 py-3 text-center">
                <p class="h1 fs-3 fw-bold" style="display: inline;">Rate Project</p>                
            </div>
            <form method="post" class="mx-md-5" enctype="multipart/form-data">
                {% csrf_token %} 
                {{form|crispy}}
                
                <br>
                <input type="submit" value="RATE PROJECT" class="btn btn-info my-4 text-white p-3" style="width: 100%;">
            </form>
        </div>
    </div>
</div>
{% endblock %}