/* h1{
    background-color: red;
} */

.register label,
small#hint_id_username,
small#hint_id_password1,
small#hint_id_password2
{
    display: none;
}


.register input, .create input{
    margin: 1.5em 0;
    padding: 1.1em 0.8em;
}

.search-form{
    display: none;
}

.project{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 20px 5px #cfcfcf;
    transition: all 500ms ease-in-out;
    cursor: pointer;
}


.register-bg{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.project:hover{
    transform: scale(1.1);
}

.proj-content{
    display: none;
}