@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.cont{
    background-color: #F4F7F6;
}

:root{
    background-color: #F4F7F6;
}

.register label,
small#hint_id_username,
small#hint_id_password1,
small#hint_id_password2
{
    display: none;
}


.register input, .create input{
    margin: 1.5em 0;
    padding: 1.1em 0.8em;
}

.create label{
    font-weight: bold;
}
.search-form{
    display: none;
}

.project{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* box-shadow: 5px 5px 20px 5px #cfcfcf; */
    transition: all 500ms ease-in-out;
    cursor: pointer;
    position: relative;
    display: grid;
    place-items: center;
}

.project a{
    z-index: 5;
}
.opacity{
    opacity: 0;
}
.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    place-items: center;
    transition: all 500ms ease-in-out;
}

.opacity:hover{
    opacity: 1;
}

.create-bg{
    background-color: #F4F7F6;
}

.create-form{
    background-color: #fff;
}


.register-bg{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.project-div{
    transition: all 500ms ease-in-out;
}

.project-div:hover{
    transform: scale(1.05);
}

.proj-content{
    background-color: white;
}

.proj-link{
    text-decoration: none;
}

.proj-link:hover{
    text-decoration: underline;
}

.line{
    width: 10%;
    border: 3px solid #000000;
}

#site-of-day{
    position:relative; 
    left:-30%;
}

@media only screen and (max-width:769px) {
    #site-of-day{
        position: relative;
        left: 0;
    }
}