{% extends 'awwwards_app/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <form method="post" class="mx-md- border p-3" enctype="multipart/form-data">
                <legend class="my-5">Update Profile</legend>
                {% csrf_token %} 
                {{u_form|crispy}}
                {{p_form|crispy}}
                
                <br>
                <input type="submit" value="UPDATE" class="btn btn-info my-4 text-white p-3" style="width: 100%;">
            </form>
        </div>
    </div>
</div>
{% endblock %}